<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Luxy Driver.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
				<key>dateExpires</key>
				<string>04/01/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SlideMenuControllerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>752FF6E691CBE959F9BB0277235532D7BC2BCC5B</string>
						<key>dateExpires</key>
						<string>04/01/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34HHAV7F7H</string>
						<key>name</key>
						<string>I-Drivve Lux LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>34HHAV7F7H.com.Main.LuxyDriver</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>34HHAV7F7H</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Luxy Driver.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>31c17055-4111-4750-b233-7d2e1d14a333</string>
				<key>dateExpires</key>
				<string>10/01/26</string>
				<key>name</key>
				<string>LuxyDriverDev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>34HHAV7F7H</string>
				<key>name</key>
				<string>I-Drivve Lux LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
